<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Paper Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="grad-container">
        <div class="main-container">
            <h1>Research Paper Summarizer</h1>
            <form action="/submit" method="post" enctype="multipart/form-data">
                <label for="pdf_url">Enter PDF URL:</label>
                <input type="text" id="pdf_url" name="pdf_url" autocomplete="off"><br><br>
                <label for="pdf_file">Or Upload PDF File:</label>
                <input type="file" id="pdf_file" name="pdf_file"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>